﻿@model Glenworx.TaskManagement.Web.ViewModels.IndexViewModel
@using Glenworx.TaskManagement.Domain.TaskManagement

<div class="modal fade" id="add-edit-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{title}</h4>
            </div>
            <div class="modal-body">
                <form autocomplete="off" action="" method="post">
                    <input type="hidden" name="taskId" id="task-id" />
                    <input type="hidden" name="createdByUserId" id="create-by-user-id" value="@(Model.Response.Users.First()?.Id)" required />
                    <input type="hidden" name="parentTaskId" id="parent-task-id" />
                    <div class="form-group">
                        <label for="task-name">Task Name</label>
                        <input type="text" class="form-control" name="taskName" id="task-name" placeholder="Name" required />
                    </div>
                    <div class="form-group">
                        <label for="task-description">Task Description</label>
                        <textarea class="form-control" name="taskDescription" id="task-description" placeholder="Description" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="assigned-to-user-id">Assign To</label>
                        <select class="form-control" name="assignedToUserId" id="assigned-to-user-id">
                            <option value=""></option>
                            @foreach (var item in Model.Response.Users)
                            {
                                <option value="@item.Id">@item.DisplayName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="priority-level">Priority Level</label>
                        <select class="form-control" name="priorityLevel" id="priority-level">
                            <option value="@((int)PriorityLevel.Low)">@PriorityLevel.Low.ToString()</option>
                            <option value="@((int)PriorityLevel.Medium)">@PriorityLevel.Medium.ToString()</option>
                            <option value="@((int)PriorityLevel.High)">@PriorityLevel.High.ToString()</option>
                            <option value="@((int)PriorityLevel.Urgent)">@PriorityLevel.Urgent.ToString()</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estimation">Estimation</label>
                        <input type="number" class="form-control" name="estimation" id="estimation" placeholder="Estimation" min="0.01" max="999" step="0.5" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>