﻿
@model Glenworx.TaskManagement.Web.ViewModels.IndexViewModel

<div class="modal fade" id="assign-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{title}</h4>
            </div>
            <div class="modal-body">
                <form autocomplete="off" action="" method="post">
                    <input type="hidden" name="taskId" id="task-id" required />        
                    <div class="form-group">
                        <label for="assign-to-user-id">Assign To</label>
                        <select class="form-control" name="assignToUserId" id="assign-to-user-id">
                            <option value=""></option>
                            @foreach (var item in Model.Response.Users)
                            {
                                <option value="@item.Id">@item.DisplayName</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>