﻿@model Glenworx.TaskManagement.Web.ViewModels.IndexViewModel
@using Glenworx.TaskManagement.ServiceLayer.Tasks.Features;

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label>Task Name</label>
                <input type="text" class="form-control" name="taskName" id="task-name" value="@Model.Request.TaskName" />
            </div>
            <div class="form-group">
                <label>Assigned To</label>
                <select class="form-control" name="taskAssignedToUserId" id="task-assigned-to-user-id">
                    <option value="">All</option>
                    <option value="-1" @(Model.Request.TaskAssignedToUserId == -1 ? "selected=selected" : "")>Unassigned</option>
                    @foreach (var item in Model.Response.Users)
                    {
                        <option value="@item.Id" @(Model.Request.TaskAssignedToUserId == item.Id ? "selected=selected" : "")>@item.DisplayName</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#add-edit-task-modal" data-action="create">+ Task</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Priority</th>
                    <th>Task Name</th>
                    <th>Created By</th>
                    <th>Assigned To</th>
                    <th>Estimation</th>
                    <th style="width: 130px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Response.Tasks.Count() == 0)
                {
                    <tr><td colspan="7" class="text-center">(no data found)</td></tr>
                }
                else
                {
                    foreach (var item in Model.Response.Tasks)
                    {
                        @RenderTaskDetails(item)
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_AddEditTask_ModalDialog")
@Html.Partial("_AssignUser_ModalDialog")

@section scripts {
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/PageSpecific/Home/Index.js")    
}

@helper RenderTaskDetails(SearchTasks.Response.Task task)
{
    <tr>
        <td>@task.DisplayNumber</td>
        <td>@task.Priority</td>
        <td>@task.Name</td>
        <td>@task.CreatedBy</td>
        <td>@task.AssignedTo</td>
        <td>@(task.Estimation?.ToString("#0.00h"))</td>
        <td>
            <button class="btn btn-default btn-sm btn-primary" data-toggle="modal" data-target="#add-edit-task-modal" data-action="edit" data-task-id="@task.Id"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default btn-sm btn-success" data-toggle="modal" data-target="#add-edit-task-modal" data-action="create-sub" data-parent-id="@task.Id" data-parent-name="@task.Name"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-default btn-sm btn-info" data-toggle="modal" data-target="#assign-user-modal" data-task-id="@task.Id" data-task-name="@task.Name"><span class="glyphicon glyphicon-user"></span></button>
        </td>
    </tr>

    if (Model.Request.OnlyRootTasks)
    {
        foreach (var item in task.SubTasks)
        {
            @RenderTaskDetails(item)
        }
    }
}